* {
  margin: 0;
  padding: 0; }

img {
  display: block; }

li {
  list-style: none; }

a {
  text-decoration: none;
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; }

.top_1_con, #top_2, #top_3, #main, #flashSale, #hotSale, #ad, #show, #brand, .nav_con, #bottom, .header, .enter_main_con {
  width: 1190px;
  margin: 0 auto; }

#top_1 {
  background: #f8f8f8; }
  #top_1 .top_1_con {
    height: 25px;
    padding-top: 12px;
    font-size: 12px;
    color: #5e645a;
    position: relative; }
    #top_1 .top_1_con .myliang {
      position: absolute;
      top: 36px;
      left: 780px;
      width: 89px;
      background: #ffffff;
      z-index: 3; }
      #top_1 .top_1_con .myliang li {
        height: 25px;
        padding-left: 10px; }
    #top_1 .top_1_con .erwei {
      width: 150px;
      height: 150px;
      background: #ffffff;
      border: 1px solid #ccc;
      position: absolute;
      right: 0;
      top: 36px;
      z-index: 4;
      padding: 16px 16px; }
      #top_1 .top_1_con .erwei img {
        width: 150px;
        height: 150px; }
    #top_1 .top_1_con .top_1_left {
      float: left; }
      #top_1 .top_1_con .top_1_left .denglu, #top_1 .top_1_con .top_1_left .zhuce {
        color: red; }
      #top_1 .top_1_con .top_1_left .zhuce {
        margin-left: 5px; }
    #top_1 .top_1_con .top_1_right {
      float: right; }
      #top_1 .top_1_con .top_1_right li {
        float: left; }
        #top_1 .top_1_con .top_1_right li a {
          color: #5e645a;
          padding: 0 10px 0;
          position: relative; }
        #top_1 .top_1_con .top_1_right li a:after {
          content: "";
          position: absolute;
          right: 0;
          top: 16%;
          height: 12px;
          width: 2px;
          background-color: #dfdfdf; }
        #top_1 .top_1_con .top_1_right li .a2 {
          padding: 26px 30px 8px 10px;
          background: url(../img/top/qian.png) no-repeat 88% 33px; }
        #top_1 .top_1_con .top_1_right li .a2:after {
          top: 56%; }
        #top_1 .top_1_con .top_1_right li .a4 {
          padding-left: 25px;
          background: url(../img/top/dh.gif) no-repeat 3px center; }
        #top_1 .top_1_con .top_1_right li .a5 {
          padding: 7px 20px 7px;
          background: url(../img/top/phone.png) no-repeat 5px center; }
        #top_1 .top_1_con .top_1_right li .a5:after {
          top: 31%;
          z-index: 1; }
        #top_1 .top_1_con .top_1_right li .a6 {
          border-right: 0;
          padding: 0 20px 0;
          background: url(../img/top/sc.png) no-repeat -2px center; }
        #top_1 .top_1_con .top_1_right li .a6:after {
          height: 0; }

#top_2 {
  height: 59px; }
  #top_2 img {
    margin: 0 auto; }

#top_3 {
  height: 123px; }
  #top_3 .top_3_left {
    float: left;
    padding-top: 21px; }
  #top_3 .top_3_center {
    float: left;
    margin-left: 185px;
    width: 501px; }
    #top_3 .top_3_center form {
      height: 90px;
      padding-top: 33px; }
      #top_3 .top_3_center form input {
        padding: 0 10px; }
      #top_3 .top_3_center form .fp {
        padding-right: 18px; }
        #top_3 .top_3_center form .fp input {
          width: 384px;
          height: 30px;
          border: 2px solid #0083CE; }
        #top_3 .top_3_center form .fp a {
          width: 75px;
          height: 34px;
          display: block;
          float: right;
          background: #0083CE;
          line-height: 34px;
          text-align: center;
          color: white; }
      #top_3 .top_3_center form .ful {
        height: 18px;
        width: 220px;
        padding-top: 5px; }
        #top_3 .top_3_center form .ful li {
          float: left; }
          #top_3 .top_3_center form .ful li a {
            color: #5d5b4e;
            font-size: 12px;
            padding: 0 10px 0;
            border-right: 1px #ccc solid; }
  #top_3 .top_3_right {
    float: right;
    padding-top: 33px;
    position: relative; }
    #top_3 .top_3_right .gwc {
      font-size: 12px;
      width: 300px;
      padding-left: 20px;
      min-height: 48px;
      border: 2px solid red;
      display: none;
      position: absolute;
      left: -192px;
      top: 68px;
      line-height: 48px;
      text-align: left; }

.header {
  height: 33px;
  border-bottom: 2px solid #1885da; }
  .header .s1 {
    width: 160px;
    height: 23px;
    padding-top: 10px;
    padding-left: 20px;
    background: #1885d8;
    display: block;
    float: left;
    color: white;
    font-size: 13px; }
  .header ul {
    width: 1010px;
    height: 28px;
    padding-top: 5px;
    float: right; }
    .header ul li {
      float: left; }
      .header ul li a {
        font-size: 13px;
        color: #424242;
        padding: 0 16px 0; }

.Sale {
  height: 404px;
  margin-bottom: 29px; }
  .Sale .Sale_left, .Sale dl {
    float: left; }
  .Sale .Sale_left {
    width: 180px; }
    .Sale .Sale_left h6 {
      height: 58px;
      background: #fc4e4d;
      font-size: 18px;
      color: white;
      padding: 30px 0 0 56px; }
    .Sale .Sale_left img {
      height: 316px; }
  .Sale .Sale_right {
    float: left;
    width: 1010px;
    height: 402px;
    border-top: 2px solid #fc4e4d; }
  .Sale dl {
    width: 201px;
    height: 185px;
    padding-top: 16px;
    border: 1px solid #ccc;
    border-left: 0;
    border-top: 0; }
    .Sale dl dt {
      margin-bottom: 6px; }
      .Sale dl dt img {
        margin: 0 auto;
        width: 130px;
        height: 130px; }
    .Sale dl dd {
      text-align: center; }
      .Sale dl dd span {
        font-size: 13px;
        color: #595556; }
      .Sale dl dd a {
        font-size: 13px;
        color: red; }

#brand {
  height: 94px;
  padding-top: 60px; }
  #brand dl {
    float: left;
    width: 119px; }
    #brand dl img {
      margin: 0 auto; }
    #brand dl dd {
      margin-top: 12px;
      text-align: center;
      font-size: 14px;
      color: #57646d; }

#nav {
  height: 220px;
  background: #0083ce url(../img/nav/ft_bg.gif) right no-repeat; }
  #nav .nav_con {
    height: 190px;
    padding-left: 77px;
    padding-top: 30px; }
    #nav .nav_con ul {
      float: left;
      margin-right: 77px; }
      #nav .nav_con ul li {
        font-size: 12px;
        margin-bottom: 11px;
        color: white; }
    #nav .nav_con dl {
      float: right;
      font-size: 12px;
      color: white; }
    #nav .nav_con .d1 {
      margin-right: 196px; }
    #nav .nav_con .d2 {
      margin-right: 50px; }

#bottom {
  height: 157px;
  padding-top: 13px;
  position: relative; }
  #bottom a {
    font-size: 12px;
    margin-right: 19px;
    color: #595556; }
  #bottom h4 {
    margin: 0 auto;
    font-size: 12px;
    color: #595556;
    position: absolute;
    left: 14%;
    top: 62%; }
  #bottom .tiao {
    position: absolute;
    bottom: 0;
    left: 50%; }
  #bottom .confirm {
    position: absolute;
    bottom: 18%;
    right: 8%; }

#p_fixed {
  position: fixed;
  right: 2%;
  top: 65%;
  overflow: hidden;
  width: 50px;
  height: 210px; }
  #p_fixed a {
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 1px;
    width: 50px;
    height: 50px; }

#main {
  height: 435px;
  margin-bottom: 10px; }
  #main .main_left {
    width: 180px;
    float: left; }
    #main .main_left ul a {
      display: block;
      font-size: 12px;
      color: white;
      height: 40px;
      line-height: 40px;
      padding-left: 46px; }
    #main .main_left ul .a1 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 7px; }
    #main .main_left ul .a2 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -33px; }
    #main .main_left ul .a3 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -71px; }
    #main .main_left ul .a4 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -114px; }
    #main .main_left ul .a5 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -154px; }
    #main .main_left ul .a6 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -193px; }
    #main .main_left ul .a7 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -233px; }
    #main .main_left ul .a8 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -273px; }
    #main .main_left ul .a9 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -310px; }
    #main .main_left ul .a10 {
      background: #2a9af0 url(../img/main/pop.gif) no-repeat 0 -352px; }
  #main .main_center {
    width: 750px;
    float: left; }
    #main .main_center .banner {
      height: 400px;
      position: relative; }
      #main .main_center .banner ul li {
        position: absolute; }
      #main .main_center .banner .i1 {
        z-index: 1; }
      #main .main_center .banner img {
        height: 400px;
        width: 750px; }
      #main .main_center .banner .little {
        height: 20px;
        position: absolute;
        bottom: 2%;
        left: 43%;
        overflow: hidden;
        z-index: 9999; }
        #main .main_center .banner .little div {
          width: 20px;
          height: 20px;
          background: black;
          border-radius: 10px;
          float: left;
          margin: 0 10px; }
  #main .main_right {
    float: left;
    width: 258px;
    border: 1px solid #ccc;
    height: 398px; }
    #main .main_right .d1 {
      background: url(../img/main/dh1.gif) no-repeat 51% 50%;
      padding-top: 6px;
      height: 30px;
      border-bottom: 1px solid #ccc; }
      #main .main_right .d1 span {
        font-size: 15px;
        color: #333534;
        padding-left: 20px; }
      #main .main_right .d1 a {
        margin-left: 57px;
        font-size: 16px;
        color: red;
        font-weight: 900; }
    #main .main_right h3 {
      height: 168px;
      border-bottom: 1px solid #ccc; }
      #main .main_right h3 dl {
        margin: 13px 0;
        width: 64px;
        float: left; }
        #main .main_right h3 dl dt {
          margin-bottom: 5px; }
          #main .main_right h3 dl dt img {
            margin: 0 auto; }
        #main .main_right h3 dl dd {
          text-align: center;
          font-size: 12px;
          color: #615859; }
    #main .main_right h4 {
      height: 30px;
      padding-top: 6px;
      border-bottom: 1px solid #ccc; }
      #main .main_right h4 span {
        font-size: 15px;
        padding-left: 9px; }
      #main .main_right h4 a {
        font-size: 12px;
        color: red;
        margin-left: 140px; }
    #main .main_right ul {
      height: 55px;
      padding-left: 10px; }
      #main .main_right ul li {
        font-size: 12px;
        color: #605a5c;
        background: url(../img/main/little_03.png) no-repeat left center;
        line-height: 22px;
        padding-left: 11px; }

#flashSale {
  height: 149px;
  margin-bottom: 39px; }
  #flashSale dl, #flashSale div {
    float: left; }
  #flashSale .d3 {
    margin-left: 10px; }

#ad {
  height: 98px;
  margin: 29px 0 29px 0; }

#show {
  height: 404px; }
  #show h6 {
    background: #fabc05; }
  #show .Sale_right {
    border-color: #fabc05; }
